.main-div{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
background: bisque;
height: 100vh;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: row;
}
.user-info,.form-sub{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .input-label, .userName-input{
  font-size: x-large;
 }

 .submit-button{
  background: none;
  border: 4px solid black;
  padding: 5px;
  margin: 5px 8px 5px;
  width: 15vw;
 }
 .container-2{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .git-img{
   width: 25vw;
 }
 


@media (max-width:500px) {
  .submit-button{
    width:33vw;
    margin: 5px 50px 5px 50px;

  }
  .form-sub{
    margin: 10px;
   /* padding: 0px 18vw 0px 21vw; */
  }
  h1,p,.userName-input,.input-label{
    font-size: larger;
  }
}
 
